<html layout:decorate="~{layout}">
<div layout:fragment="content" class="container my-3">

	<section class="hero">
		<div class="hero-content">
			<h1>대전 빵 탐색</h1>
			<p>대전의 지역(예 : 유성구) 혹은 빵집을 입력하세요.</p>
			
			<form class="search-bar">
				<input type="text" placeholder="빵집을 검색하세요...">
				<button type="submit">검색</button>
			</form>
		</div>
	</section>

	    <main>

	        <section class="categories">
	            <h2>인기 빵집</h2>
	            <div class="category-links">
	                <a href="#">성심당</a>
	                <a href="http://localhost:8080/breadmap/review/306">하레하레</a>
	                <a href="#">꾸드뱅</a>
	            </div>
	        </section>
	    </main>

	    <footer>
	        <div class="footer">
	                <a href="#">사이트 제작</a>
	                <a href="https://kopo.ac.kr/daejeon/index.do">폴리텍 B팀</a>,
	                <a href="https://kopo.ac.kr/daejeon/content.do?menu=5544">@스마트소프트웨어.</a>
	            <p>&copy; 2024 빵 지도. All rights reserved.</p>
	        </div>
	    </footer>
		
	</body>
	</html>
