
<html layout:decorate="~{layout}">
<div layout:fragment="content" class="container">
 	
	<br><br>
	
<!--	<div class="blank" style="text-shadow: -2px 0 #fff, 0 2px #fff, 2px 0 #fff, 0 -2px #fff;">
		<a href="/breadmap/notice">후기등록</a></div>-->
	
<form th:object="${questionForm}" method="post">
	<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
			
	<div th:replace="~{form_errors :: formErrorsFragment}"></div>
		
	<ul class="question_form">
		<li>
			<div class="question_form">
				<select th:field="*{category}" class="select">
					<option value="">지역을 선택해 주세요🥐</option>
					<option value="동구">동구</option>
					<option value="중구">중구</option>
					<option value="서구">서구</option>
					<option value="유성구">유성구</option>
					<option value="대덕구">대덕구</option>
				</select> 
				<input type="text" class="form_subject" placeholder=" 제목을 입력해 주세요." th:field="*{subject}"></div> 


				<div id="summernote" class="form-control"></div>
				<textarea id="content" name="content" style="display:none;"></textarea>
				
				    <script>
				      $('#summernote').summernote({
				        placeholder: '내용을 입력해주세요.',
				        tabsize: 2,
				        height: 300,
				        toolbar: [
				          ['style', ['style']],
				          ['font', ['bold', 'underline', 'clear']],
				          ['color', ['color']],
				          ['para', ['ul', 'ol', 'paragraph']],
				          ['table', ['table']],
				          ['insert', ['link', 'picture', 'video']],
				          ['view', ['fullscreen', 'codeview', 'help']]
				        ]
				      });
					  
					  // 폼 제출 전에 내용 동기화
					    $('form').submit(function() {
					      var content = $('#summernote').summernote('code'); // Summernote에서 작성된 HTML 내용 가져오기
					      $('#content').val(content); // content textarea에 저장
					    });
				</script>
			<input type="submit" value="저장하기"></div>
	</body>
</html>