

<html layout:decorate="~{layout}">
<div layout:fragment="content" class="container">
 	
	<br><br>
	
<form th:object="${questionForm}" method="post">
	<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
			
	<div th:replace="~{form_errors :: formErrorsFragment}"></div>
		
	<ul class="question_form">
		<li>
			<div class="question_form">
				<select th:field="*{category}" class="select">
					<option value="">지역을 선택해 주세요🥐</option>
					<option value="동구">동구</option>
					<option value="중구">중구</option>
					<option value="서구">서구</option>
					<option value="유성구">유성구</option>
					<option value="대덕구">대덕구</option>
				</select> 
				
				<input type="text" class="form_subject" placeholder=" 제목을 입력해 주세요." th:field="*{subject}"></div> 


				<form method="post" action="처리 페이지" enctype="multipart/form-data">
				    <!-- 수정 페이지에서 원시 코드 보존을 위한 temp 부분 -->
				    <div id="temp" style="display: none"></div>

				    <!-- 썸머노트 에디터 -->
				    <textarea id="summernote" name="content"></textarea>

				    <!-- 임시저장과 저장 버튼 -->
				    <input type="submit" name="doit" value="저장" />
				</form>

				<script>
				    // 수정페이지에서 원시 코드 보존을 통한 코드 깨짐 방지
				    window.onload = function () {
				        $('#summernote').summernote('code', document.getElementById('temp').innerHTML)
				    }

				    $(document).ready(function () {
				        $('#summernote').summernote({
				            // 썸머노트 옵션 설정
				            codeviewFilter: false,
				            codeviewIframeFilter: false,
				            disableXSSProtection: true,
				            height: 500,
				            minHeight: null,
				            maxHeight: null,
				            focus: true,
				            lang: 'ko-KR',
				            toolbar: [
				                // 스타일 관련 기능
				                ['style', ['style']],
				                // 글자 크기 설정
				                ['fontsize', ['fontsize']],
				                // 글꼴 스타일
				                ['font', ['bold', 'underline', 'clear']],
				                // 글자 색상
				                ['color', ['color']],
				                // 테이블 삽입
				                ['table', ['table']],
				                // 문단 스타일
				                ['para', ['paragraph']],
				                // 에디터 높이 설정
				                ['height', ['height']],
				                // 이미지, 링크, 동영상 삽입
				                ['insert', ['picture', 'link', 'video']],
				                // 코드 보기, 전체화면, 도움말
				                ['view', ['codeview', 'fullscreen', 'help']],
				            ],
				            fontSizes: [
				                // 글자 크기 선택 옵션
				                '8', '9', '10', '11', '12', '14', '16', '18', '20', '22', '24', '28', '30', '36', '50', '72'
				            ],
				            styleTags: [
				                // 스타일 태그 옵션
				                'p',
				                { title: 'Blockquote', tag: 'blockquote', className: 'blockquote', value: 'blockquote' },
				                'pre',
				                { title: 'code_light', tag: 'pre', className: 'code_light', value: 'pre' },
				                { title: 'code_dark', tag: 'pre', className: 'code_dark', value: 'pre' },
				                'h1', 'h2', 'h3', 'h4', 'h5', 'h6'
				            ],

				            callbacks: {
				                onImageUpload: function (files, editor, welEditable) {
				                    // 파일 업로드
				                    for (var i = files.length - 1; i >= 0; i--) {
				                        var fileName = files[i].name
				                        <!--var caption = prompt('이미지 설명:', fileName)-->
				                        if (caption == '') {
				                            caption = '이미지'
				                        }
				                        uploadSummernoteImageFile(files[i], this, caption)
				                    }
				                },
				                onMediaDelete: function ($target, editor, $editable) {
				                    // 삭제된 이미지의 파일 이름을 알아내기 위해 split 활용
				                    if (confirm('이미지를 삭제하시겠습니까?')) {
				                        var deletedImageUrl = $target.attr('src').split('/').pop()

				                        // ajax 함수 호출
				                        deleteSummernoteImageFile(deletedImageUrl)
				                    }
				                },
				            },
				        })
				    })

				    // 이미지 업로드 ajax
				    function uploadSummernoteImageFile(file, el, caption) {
				        data = new FormData()
				        data.append('file', file)
				        $.ajax({
				            data: data,
				            type: 'POST',
				            url: 'uploadSummernoteImageFile',
				            contentType: false,
				            enctype: 'multipart/form-data',
				            processData: false,
				            success: function (data) {
				                $(el).summernote('editor.insertImage', data.url, function ($image) {
				                    $image.attr('alt', caption) // 캡션 정보를 이미지의 alt 속성에 설정
				                })
				            },
				        })
				    }

				    // 이미지 삭제 ajax
				    function deleteSummernoteImageFile(imageName) {
				        data = new FormData()
				        data.append('file', imageName)
				        $.ajax({
				            data: data,
				            type: 'POST',
				            url: 'deleteSummernoteImageFile',
				            contentType: false,
				            enctype: 'multipart/form-data',
				            processData: false,
				        })
				    }
				</script>
	</body>
</html>