

<html layout:decorate="~{layout}">
<div layout:fragment="content" class="container my-3">

<!-- 게시글 -->
<ul class="review_detail">
	<div class="subject" th:text="${question.subject}"></div>
	<div class="author" th:if="${question.author != null}" th:text="${question.author.username}"></div>
	<div class="date" th:text="${question.modifyDate != null ? #temporals.format(question.modifyDate, 'yyyy-MM-dd HH:mm') : #temporals.format(question.createDate, 'yyyy-MM-dd HH:mm')}"></div><br>
	<div class="content" th:text="${question.content}"></div>

		<div class="my-3">
		
				좋아요 
				
			</button>

			<button th:href="@{|/review/modify/${question.id}|}"
				sec:authorize="isAuthenticated()"
				th:if="${question.author != null and #authentication.getPrincipal().getUsername() == question.author.username}"
				th:text="수정"></button>
				

			<button onclick="javascript:void(0);" th:data-uri="@{|/review/delete/${id}|}"
				class="delete btn btn-sm btn-outline-secondary" sec:authorize="isAuthenticated()"
				th:if="${question.author != null and #authentication.getPrincipal().getUsername() == question.author.username}"
				th:text="삭제"></button>
		</div>

<!-- 답변의 갯수 표시 -->

❤️ <span th:text="${#lists.size(question.voter)}"></span>
<h5 class="answer-count" th:text="|좋아요 ${#lists.size(question.voter)}"></h5>
<h5 class="answer-count" th:text="|💬 댓글 ${#lists.size(question.answerList)}|"></h5>

<!-- 답변 반복 시작 -->
<div class="answer" th:each="answer, loop : ${ans_paging}">
	<div class="answer-header">
	<div class="answer-author" th:text="${answer.author.username}"></div>
    
    <!-- 드롭다운 메뉴를 여는 버튼 -->
<div class="dot-menu" sec:authorize="isAuthenticated()" onclick="toggleDropdown()">
    <span>⋮</span> 
    <div class="dropdown" id="dropdown-menu">
		<!--<a href="javascript:void(0);" onclick="editComment(${answer.id})">수정</a>-->
		<a href="javascript:void(0);" th:data-uri="@{|/answer/delete/${answer.id}|}">삭제</a>
	</div>
</div>
</div>

	<div class="answer-body">
		<div class="answer-content" th:text="${answer.content}"></div>
			<div class="answer-info">
			<div class="answer-date" th:text="${#temporals.format(answer.createDate, 'yyyy-MM-dd HH:mm')}"></div>
		<a href="javascript:void(0);" class="recommend btn"
		th:data-uri="@{|/answer/vote/${answer.id}|}">
		❤️ <span class="badge" th:text="${#lists.size(answer.voter)}"></span>
		</a>
	</div>
	<div class="modify-info" th:if="${answer.modifyDate != null}">
		<span>수정됨: </span>
		<span th:text="${#temporals.format(answer.modifyDate, 'yyyy-MM-dd HH:mm')}"></span>
	</div>
  </div>
</div>
    
<!-- 수정 버튼 
	<a href="@{|/answer/modify/${answer.id}|}" class="btn modify-btn" sec:authorize="isAuthenticated()"
		th:if="${answer.author != null and #authentication.getPrincipal().getUsername() == answer.author.username}"
		th:text="수정"></a>
    
  삭제 버튼
	<a href="javascript:void(0);" class="btn delete-btn" th:data-uri="@{|/answer/delete/${answer.id}|}"
	th:if="${answer.author != null and #authentication.getPrincipal().getUsername() == answer.author.username}">
		삭제 </a> --> 
		<!-- 답변 작성 -->

<form th:action="@{|/answer/create/${question.id}|}" th:object="${answerForm}" method="post" class="comment-box">
	<div class="comment-form">
		
		
	<div th:replace="~{form_errors :: formErrorsFragment}"></div>
	<div class=comment-user th:text="${question.author.username}"></div>
		<textarea sec:authorize="isAnonymous()" disabled th:field="*{content}" class="form-control" rows="10"></textarea>
		<textarea sec:authorize="isAuthenticated()" th:field="*{content}" class="comment-input"></textarea>
		<input type="submit" value="등록" class="submit-button">
	</div>
</form>

<!-- 답변 반복 끝  -->


	
<!-- 답변 페이징 처리 시작 -->
<div th:if="${!ans_paging.isEmpty()}">
	<ul class="pagination justify-content-center">
		<li class="page-item" th:classappend="${!ans_paging.hasPrevious} ? 'disabled'">
			<a class="page-link" th:href="@{|?ans-page=${ans_paging.number-1}|}" th:data-page="${ans_paging.number-1}">
				<span>이전</span>
			</a>
		</li>
		<li th:each="page: ${#numbers.sequence(0, ans_paging.totalPages-1)}"
			th:if="${page >= ans_paging.number - 5 and page <= ans_paging.number+5}"
			th:classappend="${page == ans_paging.number} ? 'active'"
			class="page-item">
			<a th:text="${page}" class="page-link" th:href="@{|?ans-page=${page}|}" th:data-page="${page}"></a>
		</li>
		<li class="page-item" th:classappend="${!ans_paging.hasNext()} ? 'disabled'">
			<a class="page-link" th:href="@{|?ans-page=${ans_paging.number+1}|}" th:data-page="${ans_paging.number+1}">
				<span>다음</span>
			</a>
		</li>
	</ul>
</div>

<script layout:fragment="script" type="text/javascript">
  // 'delete' 클래스를 가진 모든 요소를 찾아서 클릭 이벤트 추가
  const delete_elements = document.getElementsByClassName("delete");
  Array.from(delete_elements).forEach(function(element) {
      element.addEventListener('click', function() {
          if (confirm("정말로 삭제하시겠습니까?")) {
              location.href = this.dataset.uri;
          }
      });
  });
  
const recommend_elements = document.getElementsByClassName("recommend");
Array.from(recommend_elements).forEach(function(element) {
    element.addEventListener('click', function() {
        if(confirm("정말로 추천하시겠습니까?")) {
            location.href = this.dataset.uri;
        };
    });
});

  // 드롭다운 메뉴 보이기/숨기기 함수
  function toggleDropdown() {
    const dropdown = document.getElementById("dropdown-menu");
    dropdown.style.display = dropdown.style.display === "block" ? "none" : "block";
  }

  // 수정 기능 (예제)
	function editComment() {
		window.location.href='/answer/modify/${answerId}'; 
		toggleDropdown(); // 드롭다운 메뉴 숨기기
  }

  // 삭제 기능 (예제)
  function deleteComment() {
    alert("정말로 삭제하시겠습니까?");
    toggleDropdown(); // 드롭다운 메뉴 숨기기
  }

  // 메뉴를 클릭 외 다른 부분 클릭시 닫기
  window.onclick = function(event) {
    if (!event.target.matches('.dot-menu') && !event.target.matches('.dot-menu span')) {
      document.getElementById("dropdown-menu").style.display = "none";
    }
  }
</script>

</html>
